# TrainTestSplit

In [1]:
import pandas as pd

In [5]:
dataset=pd.read_csv("House_Price_India.csv")
dataset

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14615,6762830250,42734,2,1.50,1556,20000,1.0,0,0,4,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,6762830339,42734,3,2.00,1680,7000,1.5,0,0,4,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,6762830618,42734,2,1.00,1070,6120,1.0,0,0,3,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,6762830709,42734,4,1.00,1030,6621,1.0,0,0,4,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,6762831463,42734,3,1.00,900,4770,1.0,0,0,3,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [6]:
dataset.shape

(14620, 23)

In [8]:
dataset.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [11]:
input_data=dataset.iloc[:,:-1]
output_data=dataset["Price"]

In [17]:
output_data,input_data

(0        2380000
 1        1400000
 2        1200000
 3         838000
 4         805000
           ...
 14615     221700
 14616     219200
 14617     209000
 14618     205000
 14619     146000
 Name: Price, Length: 14620, dtype: int64,
                id   Date  number of bedrooms  number of bathrooms  \
 0      6762810145  42491                   5                 2.50
 1      6762810635  42491                   4                 2.50
 2      6762810998  42491                   5                 2.75
 3      6762812605  42491                   4                 2.50
 4      6762812919  42491                   3                 2.00
 ...           ...    ...                 ...                  ...
 14615  6762830250  42734                   2                 1.50
 14616  6762830339  42734                   3                 2.00
 14617  6762830618  42734                   2                 1.00
 14618  6762830709  42734                   4                 1.00
 14619  6762831463  42734                   3                 1.00

        living area  lot area  number of floors  waterfront present  \
 0             3650      9050               2.0                   0
 1             2920      4000               1.5                   0
 2             2910      9480               1.5                   0
 3             3310     42998               2.0                   0
 4             2710      4500               1.5                   0
 ...            ...       ...               ...                 ...
 14615         1556     20000               1.0                   0
 14616         1680      7000               1.5                   0
 14617         1070      6120               1.0                   0
 14618         1030      6621               1.0                   0
 14619          900      4770               1.0                   0

        number of views  condition of the house  ...  Area of the basement  \
 0                    4                       5  ...                   280
 1                    0                       5  ...                  1010
 2                    0                       3  ...                     0
 3                    0                       3  ...                     0
 4                    0                       4  ...                   830
 ...                ...                     ...  ...                   ...
 14615                0                       4  ...                     0
 14616                0                       4  ...                     0
 14617                0                       3  ...                     0
 14618                0                       4  ...                     0
 14619                0                       3  ...                     0

        Built Year  Renovation Year  Postal Code  Lattitude  Longitude  \
 0            1921                0       122003    52.8645   -114.557
 1            1909                0       122004    52.8878   -114.470
 2            1939                0       122004    52.8852   -114.468
 3            2001                0       122005    52.9532   -114.321
 4            1929                0       122006    52.9047   -114.485
 ...           ...              ...          ...        ...        ...
 14615        1957                0       122066    52.6191   -114.472
 14616        1968                0       122072    52.5075   -114.393
 14617        1962                0       122056    52.7289   -114.507
 14618        1955                0       122042    52.7157   -114.411
 14619        1969             2009       122018    52.5338   -114.552

        living_area_renov  lot_area_renov  Number of schools nearby  \
 0                   2880            5400                         2
 1                   2470            4000                         2
 2                   2940            6600                         1
 3                   3350           42847                         3
 4                   2060            4500                         1
 ...                  ...             ...                       ...
 14615               2250           17286                         3
 14616               1540            7480                         3
 14617               1130            6120                         2
 14618               1420            6631                         3
 14619                900            3480                         2

        Distance from the airport
 0                             58
 1                             51
 2                             53
 3                             76
 4                             51
 ...                          ...
 14615                         76
 14616                         59
 14617                         64
 14618                         54
 14619                         55

 [14620 rows x 22 columns])

In [29]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.20)

In [36]:
x_train.shape,x_test.shape

((11696, 22), (2924, 22))

In [37]:
y_train.shape,y_test.shape

((11696,), (2924,))